{% load static %}

 <div class="qst">
    <div class="card">
        <div class="card-body row">
            <div class="col-2">
                <img class="img" src="/media/{{ question.author_avatar }}" alt="Image of account">
                <p class="text-center">{{ question.author_name }}</p>

            </div>
            <div class="col-10">
                <div class="">
                    <h5 class="card-title">{{ question.title }}</h5>
                    <p class="text-muted font-italic">{{ question.data_added }}</p>
                    <p class="qst-text">{{ question.text }}</p>
                    <div class="text-sm-right">
                        <a href="{% url 'question' qid=question.id %}">Читать далее</a>
                    </div>
                    {% if question.answer_cnt %}
                        <span class="qst-text">{{ question.answer_cnt }} ответов</span>
                    {% else %}
                        <span class="qst-text">Ответов пока нет</span>
                    {% endif %}
                    <div class="text-muted font-italic d-inline-block ml-5">
                        <span>Теги:</span>
                        {% for tag in question.tags.all %}
                            <a href="{% url 'tag' tag=tag.name %}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
